* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

:root {
  --primary-color: #AB0C2F;
  --secondary-color: #F3F1EB;
  --bg-color: #F6F4EE;
  --font-color: #141B34;
  --btn-color: #e50914;
  --tertiary-color: #777;
  --bright-color: #FFFFFF;
}

/*===========================================
BUTTON SECTION
=============================================
*/
.apply-btn {
  border: 1px solid lightgrey;
  padding: 9px 26px;
  border-radius: 8px;
  font-size: 13px;
  color: black;
}

.register-btn {
  border-radius: 8px;
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.15);
  margin-right: 20px;
}

/*SIGN-IN-BTN EFFECT START*/
.sign-in-btn {
  margin-left: 20px;
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: inline-block;
  padding: 12px 28px;
  text-decoration: none;
  background: transparent;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 6px;
}

.sign-in-btn:hover {
  color: #050801;
  background: var(--tertiary-color);
  box-shadow:
    0 0 5px var(--tertiary-color),
    0 0 25px var(--tertiary-color),
    0 0 50px var(--tertiary-color),
    0 0 200px var(--tertiary-color);
}

.sign-in-btn span {
  position: absolute;
  display: block;
  /* animation: none !important; */
}

.sign-in-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--font-color));
}

.sign-in-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--font-color));
}

.sign-in-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--font-color));
}

.sign-in-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--font-color));
}

.sign-in-btn:hover span:nth-child(1) {
  animation: sbtn1 1s linear infinite;
}

.sign-in-btn:hover span:nth-child(2) {
  animation: sbtn2 1s linear infinite 0.25s;
}

.sign-in-btn:hover span:nth-child(3) {
  animation: sbtn3 1s linear infinite 0.5s;
}

.sign-in-btn:hover span:nth-child(4) {
  animation: sbtn4 1s linear infinite 0.75s;
}

@keyframes sbtn1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

@keyframes sbtn2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

@keyframes sbtn3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

@keyframes sbtn4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

/*SIGN-IN-BTN-EFFECT CLOSE*/

.search-btn {
  margin-right: 20px;
}

/*ENROLL BTN EFFECT START*/

.enroll-btn {
  padding: 13px 30px;
  border: 1px solid black;
  background-color: var(--btn-color);
  color: #FFFF;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  overflow: hidden;

}

.enroll-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -130%;
  width: 130%;
  height: 100%;
  background: linear-gradient(120deg,
      transparent 30%,
      rgba(255, 255, 255, 0.15) 40%,
      rgba(255, 255, 255, 0.65) 50%,
      rgba(255, 255, 255, 0.15) 60%,
      transparent 40%);
  transform: skewX(-20deg);
}

.enroll-btn:hover::before {
  animation: shimmer 0.8s ease forwards;
  opacity: 1;
}

.enroll-btn:hover {
  box-shadow:
    0 0 10px rgba(255, 0, 0, 0.6),
    0 0 25px rgba(255, 0, 0, 0.5),
    0 0 40px rgba(255, 0, 0, 0.4);

  animation: neonGlow 1.8s infinite alternate ease-in-out;
  background: var(--secondary-color);
  color: var(--primary-color);
  transition: 0.5s all linear;
}


@keyframes shimmer {
  0% {
    left: -120%;
  }

  100% {
    left: 120%;
  }
}

@keyframes neonGlow {
  0% {
    box-shadow:
      0 0 10px rgba(255, 0, 0, 0.6),
      0 0 25px rgba(255, 0, 0, 0.5),
      0 0 40px rgba(255, 0, 0, 0.4);
  }

  100% {
    box-shadow:
      0 0 18px rgba(255, 60, 60, 0.9),
      0 0 45px rgba(255, 0, 0, 0.8),
      0 0 70px rgba(255, 0, 0, 0.6);
  }
}

/*ENROLL BTN EFFECT CLOSE*/

.classic {
  left: 14%;
}






/*===============================================
TOPBAR SECTION
==================================================
*/
.top-bar {
  width: 100%;
  min-height: 42px;
}

.top-bar-content {
  padding: 9px 0;
}

.left-top-bar a {
  margin-right: 16px;
}

.top-right-bar a {
  margin-left: 16px;
  position: relative;
}

.top-right-bar a::after {
  content: "";
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background-color: #fff;
}

.top-bar a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.left-top-bar img {
  width: 16px;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.top-right-bar a:last-child::after {
  display: none;
}

.top-highlights:hover {
  color: black !important;
  transition: 0.5s all linear;
}

.left-top-bar a:hover {
  color: black !important;
  transition: 0.5s all linear;
}

.left-top-bar img:hover {
  transform: scale(1.1);
}

/*================================================
NAVBAR SECTION
==================================================
*/
.nav-link {
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.active {
  color: #fff !important;
  position: relative;
}

.last-item {
  margin-right: 0px !important;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 99;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-toggler {
  border: none;
  background: transparent;
}

.navbar-toggler-icon {
  background-image: none;
  width: 30px;
  height: 3px;
  background: white;
  position: relative;
  transition: 0.4s;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: white;
  transition: 0.4s;
}

.navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler-icon::after {
  top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  transform: rotate(-45deg);
  top: 0;
}

.hdr-sec ul li {
  position: relative;
  cursor: pointer;
}

.hdr-sec ul li .active::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 50%;
  width: 44px;
  height: 2px;
  background: white;
  transition: all 0.5s ease;
  transform: translateX(-50%);

}

.hdr-sec ul li::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 40%;
  width: 0;
  height: 2px;
  background: var(--secondary-color);
  transition: all 0.5s ease;
  transform: translateX(-50%);
}

.hdr-sec ul li:hover::after {
  width: 60px;
}

.nav-link:hover {
  color: var(--secondary-color);
}

/*=========================================
HERO SECTION
=============================================
*/
.banner-section {
  background: url("../assets/privacy-hero.png")no-repeat center/cover;
  min-height: 100vh;
  width: 100%;
  color: #fff;
}

.banner-title {
  max-width: 634px;
  min-height: 134px;
  font-size: 80px;
  font-family: "Urbanist";
}

.category-sec {
  background: #F6F4EE;
}

.creative-sec {
  background: #F6F4EE;
}



/* Card backgrounds */
.bg-cert {
  background-image: url("../assets/earn-certificate.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 250px;
  max-width: 634px;
  padding: 30px;
  border-radius: 12px;
}

.bg-rated {
  background-image: url("../assets/best-rated-course.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 250px;
  max-width: 634px;
  padding: 30px;
  border-radius: 12px;
}

/*==========================
CREATIVE SECTION
============================
*/
.apply-now-btn {
  padding: 13px 30px;
  border: 1px solid black;
  background-color: #fff;
  color: var(--btn-color);
  border-radius: 10px;
}

.apply-now {
  margin-top: 71px;
}

.creative-section {
  background: url("../assets/creative-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 200px;
}

.creative-header {
  margin: 0 auto;
}

.creative-header>h2 {
  font-size: 24px;
  font-style: italic;
  color: #fff;
  font-family: "Crimson Pro";
  margin-top: 71px;
}

.creative-header>h1 {
  font-size: 32px;
  color: #fff;
}

/*========================================
FOOTER SECTION
===========================================
*/
.type-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  max-width: 610px;
  width: 100%;
}

.footer-section {
  padding: 20px;
}

.mail,
.location {
  margin-bottom: 10px;
}

.footer-bottom {
  border-top: 1px solid black;
  padding: 15px 0;
}

.footer-icons img {
  width: 36px;
  height: 36px;
}

/*===============================================
TOPBAR MEDIA QUERIES
==================================================
*/
@media screen and (max-width: 768px) {
  .top-bar .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .top-bar-content {
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
  }

  .left-top-bar,
  .top-right-bar {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .left-top-bar {
    margin-bottom: 6px;
  }

  .top-right-bar {
    margin-left: 0 !important;
  }

  .top-right-bar a {
    margin: 0 8px;
    font-size: 13px;
  }
}

/*==================================
NAVBAR MEDIA QUERIES
====================================
*/
@media screen and (max-width:1200px) {
  .sign-in-btn {
    color: #fff;
  }

  .navbar-nav {
    align-items: center;
    text-align: center;
  }

  .nav-link {
    margin: 0 auto;
  }

  .navbar-collapse {
    position: fixed;
    top: 0;
    right: -100%;
    width: 45%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding-top: 100px;
    transition: 0.1s all linear;
    z-index: 1000;
  }

  .navbar-collapse.show {
    right: 0;
  }

  .navbar-toggler {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1101;
  }

  .hdr-sec ul li .active::after {
    display: none;
  }

  .nav-link {
    color: #fff;
  }

  .nav-btn {
    position: static;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .navbar-nav {
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
  }

  .sign-in-btn,
  .register-btn,
  .search-btn {
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 10px;
  }
}

/*==================================
CREATIVE SECTION MEDIA QUERIES
=====================================
*/
@media screen and (max-width:992px) {
  .creative-cntn {
    flex-direction: column;
    text-align: center;
  }

  .creative-header {
    margin-bottom: 20px;
  }

  .creative-header>h2 {
    font-size: 22px;
    margin-top: 40px;
  }

  .creative-header>h1 {
    font-size: 28px;
  }

  .apply-now {
    margin-top: 30px;
    text-align: center;
  }
}

@media screen and (max-width:768px) {
  .creative-section {
    padding: 30px 15px;
    min-height: auto;
  }

  .creative-header>h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 21px;
  }

  .creative-header>h1 {
    font-size: 24px;
    margin-left: 28px;
  }

  .apply-now-btn {
    padding: 12px 25px;
    font-size: 14px;
    margin-left: 26px;
  }

  .apply-now {
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .creative-header>h2 {
    font-size: 18px;
  }

  .creative-header>h1 {
    font-size: 22px;
  }

  .apply-now-btn {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    text-align: center;
  }
}

/*===================================
FOOTER SECTION MEDIA QUERIES
=====================================
*/
@media screen and (max-width:992px) {
  .footer-section .row {
    text-align: center;
  }

  .type-container {
    flex-direction: column;
    margin-bottom: 10px;
    border: none;
  }

  .newsletter-part {
    justify-content: center;
  }

  .footer-icons {
    display: flex;
    justify-content: center;
  }
}





/*=================================
PROMO CARD SECTION MEDIA QUERIES
====================================
*/

@media screen and (max-width: 576px) {
  .promo-card {
    background-position: right bottom;
    background-size: 120px;
  }
}

@media screen and(max-width:768px) {
  .bg-cert {
    min-height: max-content;
    max-width: min-content;
    padding: 0;
  }

  .bg-rated {
    min-height: max-content;
    max-width: min-content;
    padding: 0;
  }

  .copy-text {
    margin: 0 auto;
  }
}