* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

.top-bar {
    height: 36px;
}

.glass-navbar {
    position: absolute;
    top: 36px; /* below red top bar */
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(6px);
    z-index: 999;
}

.nav-link {
    color: #C8C0C0;
    margin-right: 20px;
}

.active {
    color: #FFFF !important;
}

.apply-btn {
    border: 1px solid gray;
    padding: 6px 16px;
    border-radius: 8px;
    font-size: 13px;
    color: black;
}

.sign-btn {
    color: #C8C0C0;
    margin-left: 20px;
}

/*=========================================
HERO SECTION
=============================================
*/
.banner-section {
    position: relative;
    width: 100%;
    min-height: 515px;
    background-image: url("../assets/privacy-hero.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    color: #fff;
}





/*============================================
GET IN TOUCH SECTION
==============================================
*/


.form-control {
    border-radius: 2px;
    font-size: 14px;
}
.mid-box{
    text-align: center;
    margin-bottom: 35px;
}
.review-box {
    padding: 30px 30px 32px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    transition: all 0.3s ease;
    max-width: 314px;
    min-height: 214px;
}

.review-box>h4 {
    font-size: 24px;
}

.review-box>h6 {
    font-size: 16px;
}

.review-box>h5 {
    font-size: 15px;
}

.head-title {
    text-align: center;
    margin: 45px 0;
}

.let-us-know {
    margin: 0 auto;
    max-width: 860px;
    margin-bottom: 60px;
}
.map {
  width: 100%;
  height: 400px;
  margin-top: 60px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
/*======================================
MEDIA QUERIES
=========================================
*/
