*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 950px;
    width:100%;
    padding:0 15px;
    margin:0 auto;
}
.header-section{
    background: red;
}
.arrow-circle {
    width: 34px;
    height: 34px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}
.arrow-circle img {
    width: 12px;
}

.sign-in-btn,.login-btn{
    background: #fff;
}
.login-cntn{
    max-width: 1200px;
}

/*=========================================
MAIN SECTION
============================================
*/
.main-section{
    padding: 120px 0;
}

.right-img > img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.login-part{
    max-width: 831px;
    margin: 220.5px 61.5px;
}
.main-cntn{
    background: #F5F5F5;
}
.col-md-6 {
  min-height: 600px;
}

.welcome-text {
  z-index: 2;
}

/*=========================
FOOTER SECTION
============================
*/


.type-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:1px solid black;
    max-width: 610px;
    width:100%;
}
.footer-section{
    padding:20px;
}
.mail,.location{
    margin-bottom:10px;
}

