@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1157px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.apply-btn {
    border: 1px solid gray;
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 13px;
    color: black;
}

.top-bar {
    height: 36px;
}

.glass-navbar {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 999;
}

.nav-link {
    color: #C8C0C0;
    margin-right: 20px;
}

.active {
    color: #FFFF !important;
    position: relative;
}

.active::after {
    position: absolute;
    content: "";
    background: #fff;
}

.hero-img {
    min-height: 592px;
    max-width: 700px;
}

.hero-section {
    background: url("../assets/banner.png")no-repeat center center/cover;
    min-height: 100vh;
    color: #fff;
    padding: 120px 0;
}

.sign-btn {
    color: #C8C0C0;
    margin-left: 20px;
}

.apply-btn {
    border-radius: 8px;
}

.paragraph {
    font-family: "Playfair-Display";
    font-style: italic;
    font-size: 41px;
    color: white;
}

.hero-title {
    text-transform: capitalize;
    font-family: "Urbanist";
    font-size: 60px;
    max-width: 755px;
    min-height: 200px;
}

.enroll-btn {
    padding: 13px 30px;
    border: 1px solid black;
    background-color: #e50914;
    color: #FFFF;
    position: relative;
    z-index: 999;
    border-radius: 8px;
}

.enroll-btn:hover {
    color: black;
    background: #C8C0C0;
}
.register-btn{
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.15);
}

.hero-img {
    right: 1%;
    top: 0;
    z-index: 1;
}

.member-img {
    margin-block: 40px;
}

.member-circle {
    width: 70px;
    height: 70px;
    animation: wave 1.5s ease-in-out infinite;
}

.member-circle>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-10px);
    }

    40% {
        transform: translateY(0);
    }
}

.member-img li:nth-child(1) {
    animation-delay: 0.01s;
}

.member-img li:nth-child(2) {
    animation-delay: 0.1s;
}

.member-img li:nth-child(3) {
    animation-delay: 0.19s;
}

.member-img li:nth-child(4) {
    animation-delay: 0.28s;
}

.member-img li:nth-child(4) {
    animation-delay: 0.28s;
}

.member-img li:nth-child(2) img {
    transform: translateX(-32px);
}

.member-img li:nth-child(3) img {
    transform: translateX(-58px);
}

.member-img li:nth-child(4) img {
    transform: translateX(-88px);
}

.member-img li:nth-child(5) img {
    transform: translateX(-118px);
}

.stars img {
    width: 18px;
    height: 18px;
    margin-right: 2px;
}

.stars {
    list-style: none;
    padding: 0;
}

/*==================================
FEARTURES SECTION
=====================================
*/
.features-section {
    background: #e50914;
    /* padding-top: 140px; */
    padding-bottom: 80px;
}

.feature-row {
    margin-top: -180px;
}

.feature-box {
    background: #fff;
    border-radius: 14px;
    padding: 30px 20px;
    text-align: center;
    height: 100%;
}

.feature-box h6 {
    color: #e50914;
    font-weight: 600;
    margin-bottom: 10px;
}

.feature-box p {
    font-size: 14px;
    color: #666;
}

.feature-card {
    max-width: 283px;
    padding: 36px 66.5px 67px;
    background: #fff;
    border: 1px solid black;
    text-align: center;
    border-radius: 15px;
    z-index: 10;
    top: -90px;
}

.arrowsec {
    bottom: -26px;
    left: 38%;
}

.features-cntn>p {
    text-align: center;
    color: #fff;
}

.feature-card>img {
    margin-bottom: 19px;
}

.trusted-part {
    text-align: center;
    color: #fff;
}

/*=======================================
ABOUT SECTION
=========================================
*/
.about-university {
    padding: 120px 0;
    background: #F6F4EE;
}

.image-cntn {
    min-height: 500px;
}

.float-img {
    top: 32%;
    right: 17%;
    width: 45%;
}

.float-img img {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.float-img-on {
    top: 14.5%;
    right: 17%;
    width: 45%;
}

.float-img-exp {
    top: 83.3%;
    right: -10%;
    width: 45%;
}

.about-title {
    font-size: 42px;
    font-weight: 700;
}

.about-title span {
    color: #e63946;
}

.about-text {
    color: #777;
    margin-top: 15px;
    max-width: 420px;
}

.about-text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 3px;
    height: 100%;
    background-color: red;
}

.qualities {
    margin-bottom: 20px;
}

.qualities h6 {
    margin-bottom: 5px;
    font-weight: 600;
}

.qualities p {
    margin: 0;
    color: #777;
    font-size: 14px;
}

.qualities {
    display: flex;
    align-items: center;
    margin: 60px 35px;
}

.writing>p {
    max-width: 397px;
}

/*========================================
ACADEMIC SECTION
===========================================
*/
.counter-section {
    padding: 50px 100px;
    background: #e50914;
    text-align: center;
    font-style: italic;
    color: #F6F4EE;
    border-radius: 20px;
    font-size: 40px;
    bottom: -22%;
    left: 11%;
}

.counter {
    font-size: 2.5rem;
    font-weight: bold;
}

.academic-title {
    text-align: center;
}

.short-text {
    color: #e50914;
}

.red-curve {
    top: 38px;
    left: 19px;
    max-width: 100px;
}

.academic-section {
    padding: 200px 0;
}

.mySwiper {
    padding: 20px 0 50px;
}

.course-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: none;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
    background: #F6F4EE;
}

.course-card img {
    height: 180px;
    object-fit: cover;
    border-radius: 16px;
}

.course-card .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.course-card h6 {
    font-weight: 600;
    font-size: 15px;
}

.course-card p {
    font-size: 13px;
    color: #777;
}

.play-btn {
    margin-top: 40px;
    border: 1px solid black;
    text-align: center;
    padding: 9px;
    border-radius: 4px;
    color: black;
    background: #fff;
}

.play-btn:hover {
    color: white;
    background: #777;
    transition: 1s;
}

.max-play-btn {
    margin-top: 57px;
    border: 1px solid black;
    text-align: center;
    padding: 9px;
    border-radius: 4px;
    color: black;
    background: #fff;
}

.max-play-btn:hover {
    color: white;
    background: #777;
    transition: 1s;
}

.swiper-slide {
    width: auto;
}

.view-courses {
    text-align: center;
}

/*========================================
EVENTS SECTION
==========================================
*/
/* EVENTS SECTION */
.events-section {
    background: #f6f4ee;
}

.events-header {
    flex-wrap: wrap;
}

.events-title {
    font-size: 42px;
    font-weight: 700;
}

.events-title span {
    color: #e50914;
}

.events-cntn {
    padding: 60px 0;
}

/* EVENT ITEM */
.event-item {
    display: flex;
    gap: 30px;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.event-date-box {
    min-width: 90px;
}

.event-date-box h4 {
    font-size: 28px;
    margin: 0;
    font-weight: 700;
}

.event-date-box span {
    font-size: 12px;
    color: #777;
}

.event-date-box.red h4 {
    color: #e50914;
}

.event-content h6 {
    font-weight: 600;
    margin-bottom: 5px;
}

.event-content p {
    font-size: 14px;
    color: #777;
    margin: 0;
}

.event-arrow {
    margin-left: auto;
    font-size: 20px;
}


/*=================================
NEWS SECTION
===================================*/
.news-section {
    padding: 50px 0;
    background: #F6F4EE;
}

.title {
    color: brown;
}

.headings::after {
    content: '';

}

.blog-title {
    font-weight: 600;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

.img-fluid {
    margin-bottom: 10px;
}

.blog-tag {
    color: brown;
    font-weight: 500;
    text-align: center;
}

.blog-meta {
    text-align: center;
}

.blog-card {
    max-width: 588px;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 10px 16px 29px 14px;
    background: #fff;
    min-height: 459px;
}

.news-arrow {
    left: 44%;
    bottom: -34px;
    /* margin-top: 10px; */
}

.arrow-style {
    right: 400px;
    max-width: 532px;
}

/*=======================================
VIDEO TOUR SECTION
=========================================
*/
.video-pic {
    left: 21.67%;
    top: 33.9%;
}


.video-btn a::after {
    content: "";
    background: url("../assets/video-cicle.png") no-repeat center/cover;
    position: absolute;
    height: 105.3px;
    width: 105.3px;
    left: 21%;
    top: 32.5%;
    animation: rotate 3s infinite linear;

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }

    }

}

.testimonial-card {
    right: 8%;
    top: 15%;
    max-width: 520px;
    background: #fff;
    padding: 27px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.testimonial-card p {
    font-size: 12px;
}

.quote-icon {
    width: 40px;
}

.student-review h2 {
    font-weight: 700;
    font-size: 28px;
}

.arrows {
    display: flex;
    justify-content: flex-end;
}

.slider-sec {
    padding: 45px 0;
}

/*============================================
CREATIVE SECTION
===============================================
*/
.apply-now-btn {
    padding: 13px 30px;
    border: 1px solid black;
    background-color: #fff;
    color: #e50914;
    border-radius: 10px;
}

.creative-cntn {
    background: url("../assets/creative-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 251px;
}

.creative-header {
    margin: 0 auto;
}

.creative-header>h2 {
    font-size: 24px;
    font-style: italic;
    color: #fff;
    font-family: "Crimson Pro";
}

.creative-header>h1 {
    font-size: 32px;
    color: #fff;
}

/*========================================
FOOTER SECTION
===========================================
*/
.type-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    max-width: 610px;
    width: 100%;
}

.footer-section {
    padding: 20px;
}

.mail,
.location {
    margin-bottom: 10px;
}

.footer-bottom {
    border-top: 1px solid black;
    padding: 15px 0;
}

.footer-icons img {
    width: 36px;
    height: 36px;
}

/*=======================================
MEDIA QUERIES
=========================================
*/

@media screen and (max-width: 992px) {
    .nav-btn {
        display: none;
    }

    .hero-title {
        font-size: 56px;
        position: relative;
        z-index: 99;
        min-height: auto;
        margin-bottom: 25px;
    }

    .hero-img {
        max-width: 100%;
        min-height: auto;
    }

    .paragraph {
        font-size: 32px;
        position: relative;
        z-index: 99;
    }


    /* FEATURES */
    .feature-card {
        top: 0;
        margin: auto;
    }

    .features-cntn p {
        margin-top: 20px;
    }

    /* ABOUT SECTION */


    .image-cntn {
        margin-bottom: 40px;
    }

    .about-text {
        margin-left: 0 !important;
    }

    .qualities {
        margin: 30px 0;
    }

    /* COUNTER */
    .counter-section {
        padding: 40px;
        font-size: 28px;
    }

    /* BLOG */
    .blog-card {
        margin: auto;
    }

    .academic-section {
        padding-top: 350px;
    }

    .testimonial-card {
        right: 4%;
        top: 12%;
        max-width: 450px;
    }

    .video-btn {
        left: 28%;
    }
}

@media screen and (max-width:768px) {
    .feature-card {
        margin: 0 auto;
        padding: 30px;
    }

    .top-bar {
        display: none;
    }

    /* HERO */
    .hero-section {
        text-align: center;
        padding-top: 120px;
    }

    .hero-title {
        font-size: 42px;
    }

    .paragraph {
        font-size: 26px;
        position: relative;
        z-index: 99;
    }

    .hero-img {
        width: 100%;
        margin-top: 30px;
    }

    /* FEATURES */
    .features-cntn {
        text-align: center;
        margin-bottom: 40px;
    }

    /* ABOUT */
    .about-title {
        font-size: 32px;
    }

    .qualities {
        flex-direction: column;
        align-items: center;
        margin-top: 12px;
    }

    .writing>p {
        max-width: 100%;
    }

    .writing>h6 {
        margin-top: 12px;
    }

    /* COUNTER */
    .counter-section .col-3 {
        width: 50%;
        margin-bottom: 20px;
    }

    /* BLOG */
    .headings {
        font-size: 28px;
    }

    .arrow-style {
        display: none;
    }

    /*CREATIVE SECTION*/
    .creative-cntn {
        min-height: 0;
    }




    /* FOOTER */
    .footer-section .row {
        text-align: center;
    }

    .type-container {
        flex-direction: column;
        margin-bottom: 10px;
        border: none;
    }

    .newsletter-part {
        margin: 0 auto;
    }

    .footer-icons {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 576px) {

    .hero-title {
        font-size: 34px;
    }

    .paragraph {
        font-size: 22px;
    }

    .enroll-btn {
        margin-left: 0 !important;
        display: inline-block;
    }

    .counter-section {
        position: static !important;
        margin-top: 40px;
        text-align: center;
    }

    .counter-section .col-3 {
        width: 50%;
        margin-bottom: 20px;
    }

    .about-university {
        padding: 60px 0;
    }

    .blog-title {
        font-size: 16px;
    }


    .blog-card {
        min-height: auto;
    }

    .academic-section {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .title {
        padding-top: 0;
    }

    .events-cntn {
        padding: 20px 0;
    }

    .about-title {
        margin-top: 64px;
    }

    .testimonial-card {
        position: static;
        margin: 20px auto;
        max-width: 90%;
    }

    .video-btn {
        left: 50%;
        top: 50%;
    }

    .video-pic {
        width: 55px;
    }

    .video-btn::after {
        width: 85px;
        height: 85px;
    }

}

/*============================
CREATIVE SECTION MEDIA QUERIES
===============================
*/
@media screen and (max-width: 768px) {
    .creative-cntn {
        background-size: cover;
        padding: 20px;
        text-align: center;
    }

    .creative-header {
        margin: 0;
    }

    .creative-header>h2 {
        font-size: 18px;
    }

    .creative-header>h1 {
        font-size: 24px;
        line-height: 1.3;
    }

    .apply-now-btn {
        padding: 10px 24px;
    }
}